body {
  margin: 0;
  font-family: "Bungee", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(39, 35, 35);
  color: rgb(240, 233, 168);
  scroll-behavior: disabled;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
